body{
  height: 100vh;
  margin: auto; 
  display: block;
  width: 450px;
  font-family:Helvetica;
  font-weight: 200;
  font-size: medium;
  color:black;
  background-color: white;     
}
h1{
  font-family: Helvetica;
  cursor: pointer;
  font-size:28px;
  font-weight:200;
}
p.backNavigator{
  font-family: Helvetica;
  cursor: pointer;
  font-size: 18px;
  font-weight:lighter;
  width: fit-content;
  color:rgb(190, 190, 190);
}
p.backNavigator:hover{
  font-size: 20px;
}
p,li
{
  font-family: Helvetica;
  font-size: 18px;
  font-weight:lighter;
}
div.controlBox
{
  display: flex;
  margin: auto;
  background-color: rgba(255,255,255,0);
  width: 50%;
}
img.controlButton{
  display: inline;
  margin:auto;
  margin-top:25px;
  height: 45px;
  cursor: pointer;
  background-color: rgba(255,255,255,0);   
}
.taskPrompt{
  background-color: rgba(255,255,255,0);
}
div.container{
      width: 450px;
      line-height: 1.4;
      margin: 0;
      position: absolute;
      top:55%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background-color: rgba(255,255,255,0);
  }
  :fullscreen, ::backdrop {
    background-color: rgba(255,255,255,0);
}

.task{
  display: none;
  color:black;
  font-weight: 200;
  background-color: rgba(255,255,255,0);
  width: fit-content;
}

img.taskInteractable{
  display: inline;
  height: 50px;
  width: auto;
  cursor: pointer;
  line-height: 2;
  border: none;    
  background-color: rgba(255,255,255,0);   
}

img.taskPrompt{
  text-align: center;
  display: block;
  margin: auto;
  height: 100px;
  width: auto;
  line-height: 2;
  border: none;    
  background-color: rgba(255,255,255,0);
}

/* img.taskInteractable#{
  margin-top: 70px;
  display: inline;
  height: 50px;
  width: auto;
  cursor: pointer;
  line-height: 2;
  border: none;    
  background-color: rgba(255,255,255,0);     
} */

.copyright{
  position: absolute;
  width: 450px;
  color:rgb(190, 190, 190);
  bottom:15px;
  text-align: center;
}
.BottomRowImageButton{
  display: inline;
  margin: auto;
  height: 23px;
  width: auto;
  cursor: pointer;
  margin-bottom:22px;
}
.bottomRowScrollView{
  display: flex;
  align-content: space-evenly;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  filter: opacity(0.4);
}

div.instruction#instruction1{
  display: block;
}
div.instruction#instruction2{
  display: none;
}
div.instruction#instruction3{
  display: none;
}
div.instruction#instruction4{
  display: none;
}
div.steps#step1{
  display: none;
}
div.steps#step2{
  display: none;
}
div.steps#step3{
  display: none;
}
div.steps#step4{
  display: none;
} 
div.practice#practice1{
  display: none;
}
div.results{
  display: none;
}
div.resultsPage#results1{
  display: none;
}
div.resultsPage#results2{
  display: none;
}